body {
    text-align: center;
    background: url('./img/background.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

section {
    margin-right: auto;
    margin-left: auto;
}

#wrap {
   width: 100%;
   margin:0 auto;
}
#left_col {
   float: left;
   text-align: left;
   width: 50%;
   margin-left: 10%
}
#right_col {
   float: right;
   text-align: right;
   width: 30%;
   margin-right: 10%;
}

.profile-circular {
    background: url('./img/profile-picture.jpg');
    background-size: cover;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 50% 50% 50% 50%; 
}

.icon {
    color: white;
    margin: 1%;
}

.icon:hover {
    color: gold;
}

#icons {
    margin-top: 30px;
    margin-bottom: 30px;
}

#particles{ 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #000000; 
    /*background-image: url(""); */
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 

canvas{
  display:block;
  vertical-align:bottom;
}
